<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/users" method="post">
        <fieldset>
            <legend>Name</legend>
        <label>
            First Name<input type="text" name="firstName" value="<%= locals.firstName%>">
        </label>
        <br>
        <label>
            Last Name<input type="text" name="firstName" value="<%= locals.lastName%>">
        </label>
        </fieldset>
        <br>

        <fieldset>
            <legend>Gender</legend>
        <label>
            Male<input type="radio" name="gender">
        </label>
        <label>
            Female<input type="radio" name="gender">
        </label>
        </fieldset>
        <br>

        <label>
            Age<input type="number" name="age">
        </label>

        <br>
        <button type="submit">Submit</button>
    </form>

</body>

</html>